#wrap
  header
    ul#nav.right
      li
        a(href="#about") about
      li
        a(href="#register") register
      li
        a(href="#people") staff
    .cl
  .cl
  #hero
    h1 TID Workshop 2013
    .text_wrap
      h4 Examining the thought behind the image

  .description_container
    .description_block
      .description_hold
        h5.left What.
        .description.right The Image, Deconstructed will hold a three-day workshop in conjunction with The University of North Carolina at Chapel Hill. Our mission is to help participants gain a better understanding of a purposeful, mental approach to visual communication.
        .cl
    .description_block
      .fill
      .description_hold
        h5.left WHERE.
        .description.right The University of North Carolina
                          | Carroll Hall </br>
                          | Chapel Hill, NC </br>
                          | March 22-24 </br>
                          | Workshop begins 9:30 am the 22nd, finishes 4pm Sunday the 24th.
        .cl
    .description_block
      .description_hold
        h5.left INFO.
        .description.right Students are encouraged to bring their gear for some limited shooting exercises. </br> Time will be available for portfolio advice/feedback.
        .cl
  #people
    ul
      - [{name: 'preston', img: "/img/preston.jpeg"},{name: 'chad', img: "/img/chads.jpg"},{name: 'justin', img: "/img/justincook.jpg"},{name: 'logan', img: "/img/logan1.jpg"},{name: 'martin', img: "/img/Martin_Smith_Rodden_1.jpg"},{name: 'melissa', img: "/img/melissa.jpg"},{name: 'pattie', img: '/img/pattie.jpg'},{name: 'scott', img: "/img/ScottStrazzanteMug.jpg"},{name: 'ross', img:"/img/rosst.jpg"}].forEach(function(elm, index){
        li
          img(src="#{elm.img}", data-id="#{elm.name}")
          .cover
      - })
    .background
  #bio-wrap
    .left.image
      img(src="")
    .left.text
      b.name
      p.bio
      p.links
    .cl