#wrap
  header
    ul#nav.right
      li
        a(href="https://spb.io/s/UgSGF27RIJ") register
      li
        a(href="#people") staff
      li
        a(href="mailto:ross@imagedeconstructed.com", target="_blank") contact
    .cl
  .cl
  #hero
    h1 TID Workshop 2013
    .text_wrap
      h4 Examining the thought behind the image
  .register_container
    a.register(href="https://spb.io/s/UgSGF27RIJ") Register Now
  .description_container
    .description_block
      .description_hold
        h5.left What.
        .description.right The Image, Deconstructed will hold a three-day workshop in conjunction with The University of North Carolina at Chapel Hill. Our mission is to help participants gain a better understanding of a purposeful, mental approach to visual communication.
        .cl
    .description_block
      .fill
      .description_hold
        h5.left WHERE.
        .description.right The University of North Carolina
                          | Carroll Hall </br>
                          | Chapel Hill, NC </br>
                          | March 22-24 </br>
                          | Workshop begins 9:30 am the 22nd, finishes 4pm Sunday the 24th.
        .cl
  #map-hold
  .description_block
    .description_hold
      h5.left INFO.
      .description.right Students are encouraged to bring their gear for some limited shooting exercises. </br> Time will be available for portfolio advice/feedback.
      .cl
  #calendar-wrap
    .inner
      h5 Calendar.
      |<iframe src="https://www.google.com/calendar/embed?src=cv755f328lk0fn27lg4li26qjs%40group.calendar.google.com&showTitle=0&showNav=0&showDate=0&showPrint=0&showTabs=0&mode=MONTH&showTz=0&ctz=America/New_York&dates=20130320%2F20130324" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
  #people
    .inner
      h5 The Staff.
    ul
      - [{name: 'preston', img: "/img/preston.jpeg"},{name: 'chad', img: "/img/chads.jpg"},{name: 'justin', img: "/img/justincook.jpg"},{name: 'sam', img: '/img/sam.jpg'},{name: 'logan', img: "/img/logan1.jpg"},{name: 'martin', img: "/img/Martin_Smith_Rodden_1.jpg"},{name: 'melissa', img: "/img/melissa.jpg"},{name: 'pattie', img: '/img/pattie.jpg'},{name: 'scott', img: "/img/ScottStrazzanteMug.jpg"},{name: 'ross', img:"/img/rosst.jpg"}, {name: 'mike', img:"/img/miked.jpeg"}, {name: 'jared', img:"/img/jared.jpg"}].forEach(function(elm, index){
        li
          img(src="#{elm.img}", data-id="#{elm.name}")
          .cover
      - })
    .background
  #bio-wrap
    .left.image
      img(src="")
    .left.text
      b.name
      p.bio
      p.links
    .cl