!!!
html
  head
    title TID 2013 workshop
    |<meta property="og:title" content="TID 2013 workshop"/>
    |<meta property="og:url" content="http://www.tidworkshop.org/"/>
    |<meta property="og:image" content="http://www.tidworkshop.org/facebook.png"/>
    |<meta property="og:site_name" content="The Image Deconstructed Workshop 2013"/>
    |<meta property="og:description" content="The Image, Deconstructed will hold a three-day workshop in conjunction with The University of North Carolina at Chapel Hill. Our mission is to help participants gain a better understanding of a purposeful, mental approach to visual communication."/>
    link(rel='stylesheet', href='/css/main.css')
  body
    != yield

  script(data-main="js/main", src="js/require.js")

  != livereload