article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: 'Bitstream Vera Sans Mono', Consolas, Courier, monospace, serif;
  _font-family: 'Courier New', 'Bitstream Vera Sans Mono', Consolas, Courier, monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin-left: 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 1px solid;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 1px solid;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 1px solid;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'bentonsansbold';
  src: url("/fonts/bentonsans-bold-webfont.eot");
  src: url("/fonts/bentonsans-bold-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/bentonsans-bold-webfont.woff") format('woff'), url("/fonts/bentonsans-bold-webfont.ttf") format('truetype'), url("/fonts/bentonsans-bold-webfont.svg#bentonsansbold") format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'bentonsansregular';
  src: url("/fonts/bentonsans-book-webfont.eot");
  src: url("/fonts/bentonsans-book-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/bentonsans-book-webfont.woff") format('woff'), url("/fonts/bentonsans-book-webfont.ttf") format('truetype'), url("/fonts/bentonsans-book-webfont.svg#bentonsansregular") format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'bentonsanslight';
  src: url("/fonts/bentonsans-light-webfont.eot");
  src: url("/fonts/bentonsans-light-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/bentonsans-light-webfont.woff") format('woff'), url("/fonts/bentonsans-light-webfont.ttf") format('truetype'), url("/fonts/bentonsans-light-webfont.svg#bentonsansregular") format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
@font-face {
  font-family: 'bentonsansextralight';
  src: url("/fonts/bentonsans-extralight-webfont.eot");
  src: url("/fonts/bentonsans-extralight-webfont.eot?#iefix") format('embedded-opentype'), url("/fonts/bentonsans-extralight-webfont.woff") format('woff'), url("/fonts/bentonsans-extralight-webfont.ttf") format('truetype'), url("/fonts/bentonsans-extralight-webfont.svg#bentonsansregular") format('svg');
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
}
.normal,
#wrap .description_block {
  font-family: 'bentonsansregular';
}
.bold,
#wrap #hero h1,
#wrap .description_block h5,
#wrap #people h5,
#wrap #bio-wrap .text b,
#wrap #calendar-wrap .inner h5 {
  font-family: 'bentonsansbold';
}
.light,
#wrap #bio-wrap .text p {
  font-family: 'bentonsanslight';
}
.xlight,
#wrap #hero .text_wrap h4 {
  font-family: 'bentonsansextralight';
}
.left {
  float: left;
}
.right {
  float: right;
}
.cl {
  clear: both;
}
html {
  -webkit-transform: rotateY(0deg);
}
.hold,
#wrap header,
#wrap .description_hold {
  max-width: 1000px;
  margin: 0px auto;
}
#wrap  #wrap header #nav {
    font-family: 'bentonsansregular';
    list-style: none;
    padding: 20px 20px 0px 20px;
    margin: 0px;
    padding-top: 20px;
  }
  #wrap header #nav li {
    margin-left: 40px;
    display: inline-block;
  }
  #wrap header #nav li a {
    color: #a2a2a2;
    text-decoration: none;
    text-transform: uppercase;
  }
  #wrap #hero {
    height: 450px;
    width: 100%;
    background: url("/img/hero_bg.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
    text-align: center;
  }
  #wrap #hero h1 {
    position: relative;
    font-size: 20px;
    text-transform: uppercase;
    color: rgba(0,0,0,0.78);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
    opacity: 0.6;
    top: 5%;
  }
  #wrap #hero .text_wrap {
    width: 400px;
    background: rgba(83,139,130,0.71);
    height: 50%;
    display: inline-block;
    position: relative;
    top: 90px;
  }
  #wrap #hero .text_wrap h4 {
    color: #fff;
    font-size: 29px;
    margin-top: 80px;
    text-transform: uppercase;
    font-weight: normal;
  }
  #wrap .description_block {
    position: relative;
    width: 100%;
    margin: 0px auto;
  }
  #wrap .description_block .fill {
    position: absolute;
    width: 100%;
    background: #f7f7f7;
    left: 0px;
    height: 100%;
  }
  #wrap .description_block h5 {
    padding-left: 3%;
    width: 27%;
    color: #777;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
  }
  #wrap .description_block .description {
    width: 67%;
    padding-right: 3%;
    position: relative;
    top: 64px;
    font-size: 15px;
    line-height: 23px;
    color: #616161;
    margin-bottom: 54px;
  }
@media screen and (max-width: 695px) {
    #wrap .description_block h5 {
      float: none;
    }
    #wrap .description_block .description {
      width: 94%;
      padding-left: 3%;
      padding-right: 3%;
      float: none;
      top: 0px;
      margin-top: -50px;
      padding-bottom: 20px;
    }
}
  #wrap #people {
    text-align: center;
    position: relative;
    padding: 20px 0;
  }
  #wrap #people h5 {
    width: 85%;
    color: #fff;
    text-align: left;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 12%;
  }
  #wrap #people ul {
    list-style: none;
    position: relative;
    z-index: 2;
    margin: 0px;
    font-size: 0px;
    padding: 0px;
  }
  #wrap #people ul li {
    display: inline-block;
    width: 17%;
    overflow: hidden;
    position: relative;
    cursor: pointer;
  }
  #wrap #people ul li.active img {
    z-index: 12;
  }
  #wrap #people ul li img {
    width: 100%;
    height: auto;
    position: relative;
    -webkit-filter: grayscale(100%);
    border: 0px;
  }
  #wrap #people ul li .cover {
    background: rgba(100,164,233,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  #wrap #people .background {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(100,164,233,0.6);
    top: 0px;
    z-index: -1;
  }
  #wrap #bio-wrap {
    max-width: 900px;
    margin: 0px auto;
    margin-top: 20px;
  }
  #wrap #bio-wrap .image {
    width: 20%;
    position: relative;
  }
  #wrap #bio-wrap .image img {
    max-width: 100%;
    height: auto;
  }
  #wrap #bio-wrap .text {
    text-align: left;
    width: 70%;
    margin-left: 10%;
    margin-bottom: 20px;
  }
  #wrap #bio-wrap .text p {
    margin: 0px;
  }
  #wrap #bio-wrap .text p.bio {
    font-size: 16px;
    line-height: 28px;
    max-height: 500px;
    overflow: auto;
  }
  #wrap #bio-wrap .text b {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
  }
  #wrap #bio-wrap .text p.links {
    display: inline-block;
    margin-top: 10px;
  }
  #wrap .register_container {
    text-align: center;
  }
  #wrap .register_container .register {
    background: #cf3646;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    padding: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
    -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
    -o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
    -ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
    -webkit-transition: background 400ms;
    -moz-transition: background 400ms;
    -o-transition: background 400ms;
    -ms-transition: background 400ms;
    transition: background 400ms;
  }
  #wrap .register_container .register:hover {
    background: #ee5363;
  }
  #wrap #calendar-wrap {
    background: #f7f7f7;
    padding-bottom: 20px;
  }
  #wrap #calendar-wrap .inner {
    max-width: 1000px;
    margin: 0px auto;
  }
  #wrap #calendar-wrap .inner h5 {
    width: 97%;
    color: #777;
    font-size: 40px;
    text-transform: uppercase;
    position: relative;
    margin: 0px;
    padding-bottom: 20px;
    padding-left: 3%;
    padding-top: 50px;
  }
  #wrap #calendar-wrap .inner iframe {
    margin-top: 10px;
    margin-left: 20px;
    display: block;
  }
  #wrap #map-hold {
    width: 100%;
    height: 400px;
  }
  #wrap #map-hold h2 {
    margin: 5px 0px;
  }
  #wrap #map-hold p.details {
    font-size: 12px;
    line-height: 19px;
  }
  #wrap #map-hold .map-attribution.map-mm {
    display: none;
  }
  #wrap #map-hold img {
    border: 0px;
  }
 {
  padding-top: 20px;







}
#wrap header #nav {
  font-family: 'bentonsansregular';
  list-style: none;
  padding: 20px 20px 0px 20px;
  margin: 0px;
  padding-top: 20px;
}
#wrap header #nav li {
  margin-left: 40px;
  display: inline-block;
}
#wrap header #nav li a {
  color: #a2a2a2;
  text-decoration: none;
  text-transform: uppercase;
}
#wrap #hero {
  height: 450px;
  width: 100%;
  background: url("/img/hero_bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  text-align: center;
}
#wrap #hero h1 {
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  color: rgba(0,0,0,0.78);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  top: 5%;
}
#wrap #hero .text_wrap {
  width: 400px;
  background: rgba(83,139,130,0.71);
  height: 50%;
  display: inline-block;
  position: relative;
  top: 90px;
}
#wrap #hero .text_wrap h4 {
  color: #fff;
  font-size: 29px;
  margin-top: 80px;
  text-transform: uppercase;
  font-weight: normal;
}
#wrap .description_block {
  position: relative;
  width: 100%;
  margin: 0px auto;
}
#wrap .description_block .fill {
  position: absolute;
  width: 100%;
  background: #f7f7f7;
  left: 0px;
  height: 100%;
}
#wrap .description_block h5 {
  padding-left: 3%;
  width: 27%;
  color: #777;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
}
#wrap .description_block .description {
  width: 67%;
  padding-right: 3%;
  position: relative;
  top: 64px;
  font-size: 15px;
  line-height: 23px;
  color: #616161;
  margin-bottom: 54px;
}
@media screen and (max-width: 695px) {
  #wrap .description_block h5 {
    float: none;
  }
  #wrap .description_block .description {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
    float: none;
    top: 0px;
    margin-top: -50px;
    padding-bottom: 20px;
  }
}
#wrap #people {
  text-align: center;
  position: relative;
  padding: 20px 0;
}
#wrap #people h5 {
  width: 85%;
  color: #fff;
  text-align: left;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  margin: 0px;
  padding-bottom: 20px;
  padding-left: 12%;
}
#wrap #people ul {
  list-style: none;
  position: relative;
  z-index: 2;
  margin: 0px;
  font-size: 0px;
  padding: 0px;
}
#wrap #people ul li {
  display: inline-block;
  width: 17%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#wrap #people ul li.active img {
  z-index: 12;
}
#wrap #people ul li img {
  width: 100%;
  height: auto;
  position: relative;
  -webkit-filter: grayscale(100%);
  border: 0px;
}
#wrap #people ul li .cover {
  background: rgba(100,164,233,0.6);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#wrap #people .background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(100,164,233,0.6);
  top: 0px;
  z-index: -1;
}
#wrap #bio-wrap {
  max-width: 900px;
  margin: 0px auto;
  margin-top: 20px;
}
#wrap #bio-wrap .image {
  width: 20%;
  position: relative;
}
#wrap #bio-wrap .image img {
  max-width: 100%;
  height: auto;
}
#wrap #bio-wrap .text {
  text-align: left;
  width: 70%;
  margin-left: 10%;
  margin-bottom: 20px;
}
#wrap #bio-wrap .text p {
  margin: 0px;
}
#wrap #bio-wrap .text p.bio {
  font-size: 16px;
  line-height: 28px;
  max-height: 500px;
  overflow: auto;
}
#wrap #bio-wrap .text b {
  display: block;
  margin-bottom: 10px;
  font-weight: normal;
}
#wrap #bio-wrap .text p.links {
  display: inline-block;
  margin-top: 10px;
}
#wrap .register_container {
  text-align: center;
}
#wrap .register_container .register {
  background: #cf3646;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  -moz-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  -o-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  -ms-box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  box-shadow: inset 0px 1px 0px rgba(255,255,255,0.35);
  -webkit-transition: background 400ms;
  -moz-transition: background 400ms;
  -o-transition: background 400ms;
  -ms-transition: background 400ms;
  transition: background 400ms;
}
#wrap .register_container .register:hover {
  background: #ee5363;
}
#wrap #calendar-wrap {
  background: #f7f7f7;
  padding-bottom: 20px;
}
#wrap #calendar-wrap .inner {
  max-width: 1000px;
  margin: 0px auto;
}
#wrap #calendar-wrap .inner h5 {
  width: 97%;
  color: #777;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  margin: 0px;
  padding-bottom: 20px;
  padding-left: 3%;
  padding-top: 50px;
}
#wrap #calendar-wrap .inner iframe {
  margin-top: 10px;
  margin-left: 20px;
  display: block;
}
#wrap #map-hold {
  width: 100%;
  height: 400px;
}
#wrap #map-hold h2 {
  margin: 5px 0px;
}
#wrap #map-hold p.details {
  font-size: 12px;
  line-height: 19px;
}
#wrap #map-hold .map-attribution.map-mm {
  display: none;
}
#wrap #map-hold img {
  border: 0px;
}
