.description_block
  width: 90%
  margin: 0px auto
  @extend .normal
  h5
    @extend .bold
    width: 30%
    color: #777
    font-size: 40px
    text-transform: uppercase
  .description
    width: 70%
    position: relative;
    top: 54px;
    font-size: 15px
    line-height: 23px
    color: rgb(97, 97, 97);
    margin-bottom: 54px;