@font-face {
    font-family: 'bentonsansbold';
    src: url('/fonts/bentonsans-bold-webfont.eot');
    src: url('/fonts/bentonsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bentonsans-bold-webfont.woff') format('woff'),
         url('/fonts/bentonsans-bold-webfont.ttf') format('truetype'),
         url('/fonts/bentonsans-bold-webfont.svg#bentonsansbold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'bentonsansregular';
    src: url('/fonts/bentonsans-book-webfont.eot');
    src: url('/fonts/bentonsans-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bentonsans-book-webfont.woff') format('woff'),
         url('/fonts/bentonsans-book-webfont.ttf') format('truetype'),
         url('/fonts/bentonsans-book-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'bentonsanslight';
    src: url('/fonts/bentonsans-light-webfont.eot');
    src: url('/fonts/bentonsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bentonsans-light-webfont.woff') format('woff'),
         url('/fonts/bentonsans-light-webfont.ttf') format('truetype'),
         url('/fonts/bentonsans-light-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

@font-face {
    font-family: 'bentonsansextralight';
    src: url('/fonts/bentonsans-extralight-webfont.eot');
    src: url('/fonts/bentonsans-extralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/bentonsans-extralight-webfont.woff') format('woff'),
         url('/fonts/bentonsans-extralight-webfont.ttf') format('truetype'),
         url('/fonts/bentonsans-extralight-webfont.svg#bentonsansregular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
}

.normal
    font-family: 'bentonsansregular';

.bold
    font-family: 'bentonsansbold';

.light
    font-family: 'bentonsanslight';

.xlight
    font-family: 'bentonsansextralight';
