#nav
  font-family: 'bentonsansregular';
  list-style: none
  padding: 0px;
  margin: 0px;
  padding-top: 20px
  li
    margin-left: 40px
    display: inline-block
    a
      color rgb(162, 162, 162)
      text-decoration none
      text-transform uppercase