.register_container
  text-align: center
  .register
    background: #CF3646
    color: white
    font-weight: bold
    text-transform: uppercase
    text-decoration: none
    padding: 20px
    border-radius(3px)
    box-shadow(inset 0px 1px 0px rgba(255, 255, 255, 0.35))
    transition(background 400ms);
    &:hover
      background: #EE5363